.footer {
    width: 100%;
    margin: 2rem 0rem;
}
.infoArea {
    max-width: 25rem;
    margin: auto;
    display: flex;
}
.divArea {
    width: 33%;
    margin: auto;
    text-align: center;
    display: flex;
}

.button {
    width: 4.5rem;
    height: 2rem;
    margin-left: 0.5rem;
    border-radius: 1.2rem;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
}
.buttonDisabled {
    width: 5rem;
    height: 2rem;
    margin-left: 0.5rem;
    border-radius: 1.2rem;
    font-size: 18px;
    font-weight: bold;
    color: gray;
    background-color: white;
}
.hintButton {
    width: 5rem;
    height: 2rem;
    margin-left: 0.5rem;
    border-radius: 1.2rem;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
}
.hintButtonDisabled {
    width: 5rem;
    height: 2rem;
    margin-left: 0.5rem;
    border-radius: 1.2rem;
    font-size: 18px;
    font-weight: bold;
    color: gray;
    background-color: white;
}

.hintButton:hover {
    background-color: #FFE181;
}
.hintButton:active {
    background-color: #fdd550;
}


.label {
    height: 1.8rem;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
}

.labelDisabled {
    height: 1.8rem;
    font-size: 20px;
    font-weight: bold;
    color: gray;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.info {
    width: 3rem;
    margin: auto;
    font-size: 1.1rem;
    font-weight: bold;
}