.input {
    margin: 0.2rem;
    display: flex;
}

.label {
    font-size: 18px;
    margin: 0.2rem;
    display: flex;
}

.inputTitle {
    width: 95%;
    border: none;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    padding: 0.2rem;
    color: rgba(0,0,139,0.7);
    border-radius: 0.3rem;
}

.labelChapVerse {
    width: 95%;
    border: none;
    font-weight: bold;
    font-size: 18px;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    padding: 0 0.2rem;
    color: rgba(0,0,0);
    border-radius: 0.3rem;
}

.inputContents {
    width: 95%;
    min-height: 5rem;
    border: none;
    font-size: 17px;
    margin: 0.2rem;
    border-radius: 0.3rem;
}
.labelContent {
    width: 95%;
    min-height: 5rem;
    font-size: 17px;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    padding: 0.2rem;
    color: rgba(0,0,0);
    border-radius: 0.3rem;
}

.labelWrong {
    margin: 0rem 0.2rem;
    background-color: #FF9999;
}
.labelInvert {
    margin: 0rem 0.2rem;
    background-color: rgb(253, 207, 253);
}
.labelMiss {
    margin: 0rem 0.2rem;
    background-color: rgb(188, 236, 255);
}
.labelAdded {
    margin: 0rem 0.2rem;
    background-color: skyblue;
}
.labelRight {
    margin: 0rem 0.2rem;
    background-color: #CCFF99;
}
.labelHint {
    margin: 0rem 0.2rem;
    background-color: #FFE181;
}
.labelUnchecked {
    margin: 0rem 0.2rem;
}
.labelVerified {
    margin: 0rem 0.2rem;
}
.labelCovered {
    margin: 0rem 0.2rem;
    background-color: aliceblue;
}
.labelDisable {
    display: none;
}