.header {
    width: 20rem;
    margin: 1rem auto;
    padding: 0.5rem;
    /* background-color: aquamarine; */
    display: flex;
}

.type {
    width: 8rem;
    height: 2.5rem;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    background-color: #FFE181;
    border-radius: 3rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
    display: flex;
}

.order {
    width: 6rem;
    height: 2.5rem;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 3rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
    display: flex;
}

.label {
    margin: auto;
}