.footer {
    width: 100%;
    margin: 2rem 0rem;
}
.infoArea {
    width: 20rem;
    margin: auto;
    padding: 0.1rem;
}
.divArea {
    margin: 0.1rem;
    padding: 0.5rem;
    text-align: center;
    display: flex;
}

.hintButton {
    width: 8.5rem;
    height: 2.5rem;
    font-size: 20px;
    font-weight: bold;
    margin: 0rem 1rem;
    background-color: white;
    border-radius: 3rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
}
.hintButtonDisabled {
    width: 8.5rem;
    height: 2.5rem;
    font-size: 20px;
    font-weight: bold;
    color: gray;
    margin: 0rem 1rem;
    background-color: white;
    border-radius: 3rem;
}

.hintButton:hover {
    background-color: #FFE181;
}
.hintButton:active {
    background-color: #fdd550;
}


.label {
    height: 1.8rem;
    font-size: 20px;
    font-weight: bold;
    margin: 0rem 3rem;
    padding: 0rem 1rem;
    background-color: white;
    border-radius: 3rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
}

.labelDisabled {
    height: 1.8rem;
    font-size: 20px;
    font-weight: bold;
    margin: 0rem 3rem;
    padding: 0rem 1rem;
    color: gray;
    background-color: white;
    border-radius: 3rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.info {
    width: 5rem;
    margin: auto;
    font-size: 1.1rem;
    font-weight: bold;
}