.label {
    font-size: 18px;
    margin: 0.2rem;
    display: flex;
}

.labelTitle {
    border: none;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    padding: 0rem 0.4rem;
    color: rgba(0,0,139,0.7);
    border-radius: 0.3rem;
}
.labelTitle_Correct {
    background-color: #CCFF99;
}
.labelTitle_Wrong {    
    background-color: #FF9999;
}

.labelChapVerse {
    width: 95%;
    border: none;
    font-weight: bold;
    font-size: 18px;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    padding: 0 0.2rem;
    color: rgba(0,0,0);
    border-radius: 0.3rem;
}

.labelContent {
    width: 95%;
    min-height: 5rem;
    font-size: 17px;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    padding: 0.2rem;
    color: rgba(0,0,0);
    border-radius: 0.3rem;
}
.labelContent_Correct {
    background-color: #CCFF99;
}
.labelContent_Wrong {    
    background-color: #FF9999;
}
.labelContent_Wrong {    
    background-color: #FF9999;
}
.labelTheme {
    width: 95%;
    font-size: 15px;
    margin-top: -1rem;
    text-align: right;
    color: rgba(0,0,0);
    border-radius: 0.3rem;
}