.content {
    width: 17rem;
    text-align: left;
    margin: 0.2rem auto;
    display: flex;
    /* background-color: aquamarine; */
}

.label {
    width: 100%;
    height: 1.8rem;
    color: black;
    font-size: 17px;
}
.label_clicked {
    width: 100%;
    color: black;
    height: 1.8rem;
    font-size: 17px;
    font-weight: bold;
}
.label:hover,
.label_clicked:hover {
    color: #fec91de9;
}
.label:active
.label_clicked:active {
    color: #fec91de9;
}
.input {
    margin: 0rem 0.5rem;
}