.labelTitleArea {
    margin: auto;
    padding: 0.2rem 0rem;
    display: flex;
}
.labelContentsArea {
    margin: auto;
    min-height: 8rem;
}

.labelChapverse {
    width: 60%;
    margin: 0rem 1rem 0rem -1rem;
    padding: 0.2rem;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.labelMinus {
    width: 20%;
    margin: auto;
    padding: 0.2rem;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.labelScore {
    width: 20%;
    margin: auto;
    padding: 0.2rem;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
